policy_module(consortium, 1.100.1)

########################################
#
# Declarations
#

type consortium_t;
type consortium_exec_t;
init_daemon_domain(consortium_t, consortium_exec_t)

permissive consortium_t;

type consortium_initrc_exec_t;
init_script_file(consortium_initrc_exec_t)

type consortium_conf_t;
files_type(consortium_conf_t)

type consortium_var_lib_t;
files_type(consortium_var_lib_t)

type consortium_var_run_t;
files_type(consortium_var_run_t)

type consortium_port_t;
corenet_port(consortium_port_t)

########################################
#
# consortium local policy
#
allow consortium_t self:process { fork };

allow consortium_t self:fifo_file rw_fifo_file_perms;
allow consortium_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(consortium_t, consortium_conf_t, consortium_conf_t)
manage_files_pattern(consortium_t, consortium_conf_t, consortium_conf_t)

manage_dirs_pattern(consortium_t, consortium_var_lib_t, consortium_var_lib_t)
manage_files_pattern(consortium_t, consortium_var_lib_t, consortium_var_lib_t)
files_var_lib_filetrans(consortium_t, consortium_var_lib_t, { dir file })

manage_dirs_pattern(consortium_t, consortium_var_run_t, consortium_var_run_t)
manage_files_pattern(consortium_t, consortium_var_run_t, consortium_var_run_t)

sysnet_dns_name_resolve(consortium_t)
corenet_all_recvfrom_unlabeled(consortium_t)

allow consortium_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(consortium_t)
corenet_tcp_sendrecv_generic_node(consortium_t)
corenet_tcp_sendrecv_all_ports(consortium_t)
corenet_tcp_bind_generic_node(consortium_t)

gen_require(`
    type consortium_port_t;
')
allow consortium_t consortium_port_t:tcp_socket name_bind;

gen_require(`
    type consortium_port_t;
')
allow consortium_t consortium_port_t:tcp_socket name_connect;

domain_use_interactive_fds(consortium_t)

files_read_etc_files(consortium_t)

miscfiles_read_localization(consortium_t)

sysnet_dns_name_resolve(consortium_t)

allow consortium_t consortium_exec_t:file execute_no_trans;
allow consortium_t self:process setsched;
corecmd_exec_ls(consortium_t)
corenet_tcp_connect_http_port(consortium_t)
dev_read_urand(consortium_t)
fs_getattr_xattr_fs(consortium_t)
kernel_read_system_state(consortium_t)
